@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#menu, #logo {
    line-height: 75px;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

/* styles the li element seperately so that they will each float right individually */

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    /* remove default underlines */
    color: inherit;
}

/* whenever the mouse hovers over something */
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* an class so that the menu item is underlined when you're on that page */
.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    /* setting height will automatically set div height */
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;
    /* can use background image rather than img tag because it's purely decorative and doesn't need and alt description */

    /* animation */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}