@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#menu, #logo {
    line-height: 75px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

/* styles the li element seperately so that they will each float right individually */

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    /* remove default underlines */
    color: inherit;
}

/* whenever the mouse hovers over something */
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* an class so that the menu item is underlined when you're on that page */
.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    /* This keeps the inner div fixed on the background image and not the entire page */
    position: relative;
}

#cover-text, #cover-text h2 {
    color: white;
}

#hero-image {
    height: 600px;
    /* setting height will automatically set div height */
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;
    /* can use background image rather than img tag because it's purely decorative and doesn't need and alt description */

    /* animation */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    /* use RGBA so that it can have an opacity value */
    background-color: rgba(241, 109, 107, .7);

    /* position relative to it's container */
    bottom: 30px;
    right: 150px;
    /*to fix it in position */
    position: absolute;
}

/* club ethos */

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    /* background-color: blue; */
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    /* background-color: silver; */
}

#center-about {
    /* padding-top: 30px; */
    width: 33%;
    /* to align centre, this command centres it within the div */
    margin: 0 auto;
    background-color: green;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    /* to align vertically */
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    /* to align vertically */
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}